<header class="header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="#">
        <svg class="nav-logo-icon" width="123" height="16">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="sidebar">
        <li class="mobil-close" onclick="hideSideBar()">
          <img
            class="menu-wrap-img"
            src="./images/x.png"
            alt="menu-wrap-close-img"
            width="32"
            height="32"
          />
        </li>
        <li>
          <a href="#about-us">ABOUT US</a>
        </li>
        <li>
          <a href="#our-courses">OUR COURSES</a>
        </li>
        <li>
          <a href="#our-mentors">OUR MENTORS</a>
        </li>
        <li>
          <a href="#reviews">REVIEWS</a>
        </li>
        <li>
          <a href="#contacts">CONTACTS</a>
        </li>
        <li>
          <img
            class="menu-camera-div-image"
            srcset="./images/menu-camera@x2.png"
            src="./images/menu-camera.png"
            alt="menu_camera"
            width="476"
            height="480"
          />
        </li>
      </ul>

      <ul class="nav-ul">
        <li class="nav-li hideOnMobile">
          <a class="nav-li-a" href="#about-us">ABOUT US</a>
        </li>
        <li class="nav-li hideOnMobile">
          <a class="nav-li-a" href="#our-courses">OUR COURSES</a>
        </li>
        <li class="nav-li hideOnMobile">
          <a class="nav-li-a" href="#our-mentors">OUR MENTORS</a>
        </li>
        <li class="nav-li hideOnMobile">
          <a class="nav-li-a" href="#reviews">REVIEWS</a>
        </li>
        <li class="nav-li hideOnMobile">
          <a class="nav-li-a" href="#contacts">CONTACTS</a>
        </li>
        <li class="nav-li">
          <a href="#sign-up">
            <svg class="nav-cam-icon" width="16" height="16">
              <use href="./images/icons.svg#icon-camera"></use>
            </svg>
          </a>
        </li>
        <li onclick="showSideBar()" class="nav-li burger-button">
          <svg class="nav-burger-icon" width="32" height="22">
            <use href="./images/icons.svg#icon-nav-burger"></use>
          </svg>
        </li>
      </ul>
    </nav>

    <a href="#sign-up" class="header-sign-up-button">SIGN UP</a>

    <!-- <img
      class="menu-wrap-img"
      src="./images/x.png"
      alt="menu-wrap-close-img"
      width="32"
      height="32"
    /> -->

    <!-- <img
      class="menu-camera-div-image"
      srcset="./images/menu-camera@x2.png"
      src="./images/menu-camera.png"
      alt="menu_camera"
      width="476"
      height="480"
    /> -->
  </div>
</header>