<header class="header-section">
    <div class="header-container">
        <nav class="header-nav">
            <div class="nav-logo-div">
                <svg class="nav-logo-icon">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </div>

                <ul class="nav-ul">
                    <li class="nav-li">
                        <a class="nav-li-a" href="#about-us">ABOUT US</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-li-a" href="#our-courses">OUR COURSES</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-li-a" href="#our-mentors">OUR MENTORS</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-li-a" href="#reviews">REVIEWS</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-li-a" href="#contacts">CONTACTS</a>
                    </li>
                </ul>

                <div class="nav-icons-div">
                    <div class="nav-cam-div">
                        <a href="#sign-up">
                            <svg class="nav-cam-icon" width="16" height="16">
                                <use href="./images/icons.svg#icon-camera"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="nav-burger-div">
                        <label for="hamburger-checkbox" class="label2">
                            <svg class="nav-burger-icon" width="32" height="22">
                                <use href="./images/icons.svg#icon-nav-burger"></use>
                            </svg>
                        </label>
                    </div>
                </div>
            </nav>
                <div class="header-signup-button-div">
                    <a href="#sign-up" class="header-sign-up-button">SIGN UP</a>
                </div>

                <div class="menu-wrap">
                    <input type="checkbox" class="hamburger-checkbox" id="hamburger-checkbox" />
                    <label for="hamburger-checkbox" class="label1">
                        <img class="menu-wrap-img" src="./images/x.png" alt="menu-wrap-close-img" width="32"
                            height="32" />
                    </label>
                    <div class="hamburger">
                        <div class="menu">
                            <div class="menu-links">
                                <ul>
                                    <li><a href="#about-us">ABOUT US</a></li>
                                    <li><a href="#our-courses">OUR COURSES</a></li>
                                    <li><a href="#our-mentors">OUR MENTORS</a></li>
                                    <li><a href="#reviews">REVIEWS</a></li>
                                    <li><a href="#sign-up-in-main">CONTACTS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-camera-div">
                            <img class="menu-camera-div-image" srcset="./images/menu-camera@x2.png"
                                src="./images/menu-camera.png" alt="menu_camera" width="218" height="329" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="hero-section">
            <div class="hero-div">
                <div>
                    <h1 class="hero-main-title-h1">
                        Discover the magic of
                        <span class="hero-main-title-span">photography</span> in our
                        school
                    </h1>
                    <h5 class="hero-paragraph">
                        Our photography school offers an unforgettable journey, where you
                        can learn the basics of composition, master technical skills,
                        translate your unique ideas.
                    </h5>

                    <div class="hero-reviews-container">
                        <div class="hero-students-link-container">
                            <div class="hero-students-div">
                                <img srcset="./images/happystudents_mobile@x2.png 2x"
                                    src="./images/HappyStudents_Mobile.png" alt="happyStudent" />
                            </div>
                            <div class="hero-students-link">
                                <h5 class="hero-students-text">
                                    <a href="#reviews">Our happy students</a>
                                </h5>
                                <div class="image-arrow-div">
                                    <img class="image-arrow" src="./images/arrow.png" alt="arrow" />
                                </div>

                            </div>
                        </div>

                        <div class="hero-text-number">
                            <svg class="hero-svg" width="44" height="44">
                                <use href="./images/icons.svg#icon-hero-star"></use>
                            </svg>
                            <div class="hero-h6-h4-container">
                                <h6 class="hero-text">Reviews</h6>
                                <h4 class="hero-number">+1500</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero-photographer">
                    <img srcset="./images/Photographer_Mobile@x2.png 2x" src="./images/Photographer_Mobile.png"
                        alt="photographer" />
                </div>
            </div>
        </section>
<section class="hero-section">
    <div class="hero-div">
        <div>
            <h1 class="hero-main-title-h1">
                Discover the magic of
                <span class="hero-main-title-span">photography</span> in our
                school
            </h1>
            <h5 class="hero-paragraph">
                Our photography school offers an unforgettable journey, where you
                can learn the basics of composition, master technical skills,
                translate your unique ideas.
            </h5>

            <div class="hero-reviews-container">
                <div class="hero-students-link-container">
                    <div class="hero-students-div">
                        <img srcset="./images/happystudents_mobile@x2.png 2x" src="./images/HappyStudents_Mobile.png"
                            alt="happyStudent" />
                    </div>
                    <div class="hero-students-link">
                        <h5 class="hero-students-text">
                            <a href="#reviews">Our happy students</a>
                        </h5>
                        <div class="image-arrow-div">
                            <img class="image-arrow" src="./images/arrow.png" alt="arrow" />
                        </div>

                    </div>
                </div>

                <div class="hero-text-number">
                    <svg class="hero-svg" width="44" height="44">
                        <use href="./images/icons.svg#icon-hero-star"></use>
                    </svg>
                    <div class="hero-h6-h4-container">
                        <h6 class="hero-text">Reviews</h6>
                        <h4 class="hero-number">+1500</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-photographer">
            <img srcset="./images/Photographer_Mobile@x2.png 2x" src="./images/Photographer_Mobile.png"
                alt="photographer" />
        </div>
    </div>
</section>



