<section class="hero-section">
  <div class="container">
    <div class="hero-div">
      <div class="hero-design">
        <div>
          <h1 class="hero-main-title-h1">
            Discover the magic of
            <span class="hero-main-title-span">photography</span> in our school
          </h1>
          <p class="hero-paragraph">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
        </div>

        <div class="hero-reviews-container">
          <div class="hero-students-link-container">
            <div class="hero-students-div">
              <img
                srcset="./images/happystudents_mobile@x2.png 2x"
                src="./images/HappyStudents_Mobile.png"
                alt="happyStudent"
              />
            </div>
            <div class="hero-students-link">
              <a class="hero-students-text" href="#reviews"
                >Our happy students</a
              >

              <div class="image-arrow-div">
                <img class="image-arrow" src="./images/arrow.png" alt="arrow" />
              </div>
            </div>
          </div>

          <div class="hero-text-number">
            <svg class="hero-svg" width="44" height="44">
              <use href="./images/icons.svg#icon-hero-star"></use>
            </svg>
            <div class="hero-h6-h4-container">
              <p class="hero-text">Reviews</p>
              <p class="hero-number">+1500</p>
            </div>
          </div>
        </div>
      </div>

      <img
        class="read"
        srcset="./images/Photographer_Mobile@x2.png 2x"
        src="./images/Photographer_Mobile.png"
        alt="photographer"
        width="350px"
        height="500px"
      />
    </div>
  </div>
</section>
