
    <section>
	<div class="reviews-container">
      <h1 class="title">Reviews</h1>
      <div class="card">
        <div class="review-card">
          <div class="review-header">
              <img src="/src/images/user2.jpg" alt="Abraham Baker">
              <div>
                  <h2>Abraham Baker</h2>
                  <p>Student</p>
              </div>
          </div>
          <p class="review-text">
              I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.
          </p>
          <div class="stars">★★★★☆</div>
      </div>

      <div class="review-card">
          <div class="review-header">
              <img src="/src/images/user1.jpg" alt="Amanda Lowery">
              <div>
                  <h2>Amanda Lowery</h2>
                  <p>Student</p>
              </div>
          </div>
          <p class="review-text">
              The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
          </p>
          <div class="stars">★★★★☆</div>
      </div>
      </div>
    </div>
</section>
