<section class="our-courses">
  <div class="title-course">
    <h2 class="title-our">Our <span class="title-courses">Courses</span></h2>
    <p class="courses-info">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <div class="course-cards">
    <div class="card">
      <div class="card-link">
        <p class="card-number">01</p>
        <a href="#sign-up" class="north-east">
          <svg class="arrow-icon" width="20" height="20">
            <use href="./images/arrow-icon.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <div class="info-of-card">
        <h3 class="card-title">Basics of photography</h3>
        <p class="card-info">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-link">
        <p class="card-number">02</p>
        <a href="#sign-up" class="north-east">
          <svg class="arrow-icon" width="20" height="20">
            <use href="./images/arrow-icon.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <div class="info-of-card">
        <h3 class="card-title">Landscape photography</h3>
        <p class="card-info">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-link">
        <p class="card-number">03</p>
        <a href="#sign-up" class="north-east">
          <svg class="arrow-icon" width="20" height="20">
            <use href="./images/arrow-icon.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <div class="info-of-card">
        <h3 class="card-title">Portrait photography</h3>
        <p class="card-info">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </div>
    </div>
  </div>
</section>
