/* Mobile-first tasarımı için temel stiller */
.section4{
	margin-bottom: 80px;
}
.reviews-container{
	max-width: 375px; /* Kartlarla aynı genişlikte olacak */
	margin: 0 auto;
	padding: 0px 15px;
}
  
.title{
	font-weight: 500;
	font-size: 28px;
	line-height: 2rem;
	letter-spacing: -0.04em;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.review-card {
  	display: flex;
  	flex-direction: column;
  	gap: 20px;
  	list-style: none;
}
  
.menu-card {
	background-color: #222;
	padding: 20px;
	border-radius: 10px;
	flex-basis: calc((100% - 40px) / 2);
	border: 1px solid #666;
}
  
  /* Review card stil */
  
.card-menu-info{
	display: flex;
	gap: 20px;
}
.review-header {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}
.card-layout{
	display: flex;
	justify-content: space-between;
}
.menu-card .card-layout .card-menu-info img {
	border-radius: 50%;
}
.menu-card .card-layout .card-menu-info h3{
	font-size: 20px;
	line-height: 1.75rem;
	color: white;
}
.menu-card .card-layout .card-menu-info p{
	font-size: 14px;
	line-height: 1.125rem;
	letter-spacing: -0.02em;
	color: rgb(29, 29, 29);;
}
  
.review-header p {
	font-size: 14px;
	margin: 0;
	color: #bbb;
  }
  
  .review-text {
	font-size: 16px;
	line-height: 1.25rem;
	margin: 10px 0;
	color: #ddd;
  }
  
  .stars {
	font-size: 20px;
	color: #e0a96d;
  }
  
  /* Tablet ekranları için responsive */
  @media (min-width: 768px) {
  .reviews-container{
	max-width: 768px;
  }
	
  }
  
  /* Laptop ve daha büyük ekranlar için responsive */
  @media (min-width: 1280px) {
	.title {
	  font-size: 48px;
	  line-height: 3.375rem;
	}
	.reviews-container{
		max-width: 1240px;
	}
	.review-card{
		flex-direction: row;
	}
  
  }
  