*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.advertisement{
    width: 100%;
    background-color: black;
    border-top: 1px solid #FFFFFF33;
    border-bottom: 1px solid #FFFFFF33;
}

.advertisement .advertisement-paragh{
    flex-shrink: 0;
    overflow: hidden;
    font-family: 'DM Sans';
    display: flex;
    padding-left: 100px;
    gap: 10%;
}

.advertisement .advertisement-paragh .master-skills{
    font-weight: 400;
    font-size: 59px;
    line-height: 64px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: #BEA69E;
    padding-top: 24px;
    padding-bottom: 24px;
    white-space: nowrap;
    animation-name: running-text;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.advertisement .advertisement-paragh .your-photography{
    color: #ffffff;
}

@keyframes running-text{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-111.2%);
    }
}

.about_us .about_us_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(704px + (1240 - 704) * (100vw - 768px) / (1440 - 768));
    margin: 100px;
    gap: 50px;
    background-color: #121212;
}

.about_us .about_us_container .about{
    display: flex;
    align-items: flex-start;
    font-family: 'DM Sans';
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.04em;
    gap: 10px;
    color: #ffffff;
}

.about_us .about_us_container .about .us{
    color: #BEA69E;
}

.about_us .about_us_container .about_us_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.about_us .about_us_container .about_us_detail .camera_rectangle{
    border-radius: 1000px;
}

.about_us .about_us_container .about_us_detail .about_us_paragh{
    display: flex;
    gap: 40px;
}

.about_us .about_us_container .about_us_detail .about_us_paragh .photography_indiction{
    text-align: left;
    color: #ffffff;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.need_fix_width{
    max-width: 314px;
}

@media screen and (max-width:768px){
    .advertisement .advertisement-paragh{
        padding: 0;
    }

    .advertisement .advertisement-paragh .master-skills{
        font-size: 40px;
        line-height: 50px;
    }

    .advertisement .advertisement-paragh{
        padding-left: 0;
        gap: 10%;
    }

    .about_us .about_us_container{
        margin-left: 32px;
        width:auto;
    }

    .about_us .about_us_container .about_us_detail{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        max-width: 704px;
    }

    .about_us .about_us_container .about_us_detail .camera_rectangle{
        width: 100%;
        height: auto;
    }

    .about_us .about_us_container .about_us_detail .about_us_paragh .photography_indiction{
        max-width: 280px;
    }

}

@media screen and (max-width:376px){
    .advertisement .advertisement-paragh .master-skills{
        font-size: 28px;
        line-height: 32px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about_us .about_us_container{
        width: 335px;
        margin-left: 20px;
    }

    .about_us .about_us_container .about{
        font-size: 28px;
        line-height: 32px;
        max-width: 345px;
    }

    .about_us .about_us_container .about_us_detail .camera_rectangle{
        width: 335px;
        height: 209px;
    }

    .about_us .about_us_container .about_us_detail{
        max-width: 335px;
    }

    .about_us .about_us_container .about_us_detail .about_us_paragh{
        width: 335px;
        flex-direction: column;
    }
}