
.advertisement{
    width: 100%;
    background-color: black;
    border-top: 1px solid #FFFFFF33;
    border-bottom: 1px solid #FFFFFF33;
    margin: 80px 0px;
}

.advertisement .advertisement-paragh{
    flex-shrink: 0;
    overflow: hidden;
    font-family: 'DM Sans';
    display: flex;
    padding-left: 100px;
    gap: 10%;
}

.advertisement .advertisement-paragh .master-skills{
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #BEA69E;
    padding-top: 24px;
    padding-bottom: 24px;
    white-space: nowrap;
    animation-name: running-text;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.advertisement .advertisement-paragh .your-photography{
    color: #ffffff;
}

@keyframes running-text{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-111.2%);
    }
}


.about_us .about_us_container{
    display: flex;
    flex-direction: column;
    margin: 100px;
    gap: 50px;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.about_us .about_us_container .about{
    display: flex;
    align-items: flex-start;
    font-family: 'DM Sans';
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.04em;
    gap: 10px;
    color: #ffffff;
}

.about_us .about_us_container .about .us{
    color: #BEA69E;
}

.about_us .about_us_container .about_us_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px
}

.about_us .about_us_container .about_us_detail .camera_rectangle{
    border-radius: 1000px;
    width: 100%;
}

.about_us .about_us_container .about_us_detail .about_us_paragh{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about_us .about_us_container .about_us_detail .about_us_paragh .photography_indiction{
    text-align: left;
    color: #ffffff;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    width: 100%;
}


@media screen and (min-width:768px) {
    .about_us .about_us_container .about_us_detail .about_us_paragh{
        flex-direction: row;
    }
    .about_us .about_us_container .about_us_detail .camera_rectangle{
        width: 100%;
    }
    .about_us .about_us_container{
        max-width: 768px;
    }
    .advertisement .advertisement-paragh .master-skills{
        font-size: 40px;
        line-height: 50px;
        padding-right: 10px;
    }
}


@media screen and (min-width:1280px) {
    .about_us .about_us_container .about_us_detail{
        flex-direction: row;
    }
   .about_us .about_us_container{
        max-width: 1240px;
   }
   .advertisement .advertisement-paragh .master-skills{
        font-size: 59px;
        line-height: 64px;
        
   }
}


